<div class="title">
    <h1>Welcome to Blogedin.</h1>
    <p></p>
    <h2>Publish your passions, your way</h2>
    <p></p>
    <h3>
        <spam id="oneliner">Create an unique and beautiful blog easily.</spam>
    </h3>
</div>
<div class="background">
    <img src="images/Group 1design.png" alt="design color" class="img2">
    <img src="images/Group 1design2.png" alt="design color" class="img4">
    <img src="images/g12color.png" alt="body color" class="img1">
    <img src="images/g12color2.png" alt="color body" class="img3">
</div>