<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogedin</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&display=swap" rel="stylesheet">

</head>

<body class="bg">


    <div class="nav-container">
        <div class="nav-brand">
            <h1><a href="/">Blogedin.</a></h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/post">Post</a></li>
            </ul>
        </div>
        <div class="nav-toggle" id="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <!-- <div class="image-container">
        <img src="images/display.jpg" alt="baackground image" class="imgd">
        <img src="images/display 2.jpg" alt="baackground image" class="imgd2">
    </div> -->
    <div class="display_blog">

        <div class="blog-post-container">
            <% if (blogPosts.length> 0) { %>

                <% blogPosts.forEach(function(post) { %>

                    <div class="blog-post">
                        <div class="blog_title">
                            <h2>
                                <%= post.title %>
                            </h2>
                        </div>
                        <img src=<%=post.image_url %> class="image_blog" alt="blog image">
                        <p>Name : <%= post.name %>
                        </p>
                        <p>
                            <%= post.content %>
                        </p>

                        <% }); %>
                            <% } else { %>
                                <p>No blog posts available.</p>
                                <% } %>
                    </div>
        </div>
    </div>

</body>

</html>